
@{
    ViewBag.Title = "Multiselect";
}

<h2>Multiselect</h2>

<select multiple="multiple" id="my-select" name="my-select[]">
    <option value='elem_1'>elem 1</option>
    <option value='elem_2'>elem 2</option>
    <option value='elem_3'>elem 3</option>
    <option value='elem_4'>elem 4</option>
    <option value='elem_100'>elem 100</option>
</select>


@Styles.Render("~/Content/multiselect")
@section Scripts {
    @Scripts.Render("~/bundles/multiselect")


    <script type="text/javascript">
        $('#my-select').multiSelect();
    </script>
}
