@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    JCE SE<br />
    ISRAEL<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:matrostik@gmail.com">matrostik@gmail.com</a>
</address>