@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello JCE SE</h1>
    <p class="lead">HelloJCE ASP.NET MVC project</p>
    <p><a href="https://github.com/jce-il/se-class/wiki" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current Task</h2>
        <p>
            Enhance your web page to include few web pages (at least 3) with links between them + style sheets
            (css + <a href="http://getbootstrap.com/">bootstrap</a> which will be taught at 14/3 Tirgul).
            We recommend you to use this as a model of your idea's future GUI (this will help you on the SRS assignment).
        </p>
        <p><a class="btn btn-default" href="https://github.com/jce-il/se-class/wiki/Prototypes">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Previous Task</h2>
        <p dir="rtl">
            <strong>התקנות והפצת דף ראשוני</strong>
        <ol dir="rtl">
            <li>סביבת פיתוח לרשת בג'אווה Play Framework 2</li>
            <li>שמירת הקבצים ב GitHub-</li>
            <li>ההפצה והניהול של האפליקציה לענן -Heroku Toolbelt</li>
        </ol>
        </p>
        <p><a class="btn btn-default" href="http://jce-il.github.io/se-class/project/prototype/0-prototype.pdf">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>