@{ Layout = null; /* Overrides the Layout set for regular page views. */ }

To: @ViewBag.To
From: @ViewBag.From
Subject: Password Recovery - TeachMe

Someone requested an password recovery on TeachMe for @ViewBag.To. If you did not request this, just ignore this email. We'll keep your account safe.
If you would like to reset your password, just follow this link, and we will automatically log you in afterwards.

<a href="@Request.Url.Host/Account/ResetPasswordStepTwo/@ViewBag.ConfirmationToken" target="_blank">Reset Your Password</a>
